OPENAI_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=ai_charlotte
GITHUB_API_TOKEN=
GITHUB_USERNAME=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
VITE_API_URL=http://127.0.0.1:8000
